<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img
      src="../../assets/128px-SAP-Logo.svg.png" width="62.5"
      height="32" /></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ '/home' ]">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" routerLinkActive="active" (click)="authservice.logout()" style="cursor: pointer;">Logout</a>
    </ul>
  </div>
</nav>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col-md-8">
      <h2>Customer Details</h2>
    </div>
  </div>
</div>
<div class="container" align="center">
  <div class="row">
    <div class="col-md-6">
      <a href="./home/leads/newcustomer" style="color: inherit; text-decoration: none;">
        <div class="card"
          style="width:12rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <img class="card-img-top" src="../../assets/connection.png" alt="Card image cap">
          <div class="card-body">
            <h3>Add Customer</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="./home/leads/searchcustomer" style="color:inherit; text-decoration: none; ">
        <div class="card"
          style="width: 12rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <img class="card-img-top" src="../../assets/worker.png" alt="Card image cap">
          <div class="card-body">
            <h3>Search Customer</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container mt-5" align="center">
  <div class="row">
    <div class="col-md-6">
      <a href="./home/leads/newcontact" style="color: inherit; text-decoration: none;">
        <div class="card"
          style="width:12rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <img class="card-img-top" src="../../assets/people.png" alt="Card image cap">
          <div class="card-body">
            <h3>Add Contact</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="./home/leads/searchcontact" style="color:inherit; text-decoration: none; ">
        <div class="card"
          style="width: 12rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <img class="card-img-top" src="../../assets/worker.png" alt="Card image cap" >
          <div class="card-body">
            <h3>Search Contact</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>